@tailwind base;
@tailwind components;
@tailwind utilities;

.card-summary {
  height: 40px;
  text-wrap: balance;
  display: -webkit-box;   
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* 제한할 텍스트의 줄 수 */
}